@text_color: #5a5a5a;
body {
    margin: 0;
    padding: 0;
}
/* ================================= header ==============*/
.head_line {
    width: 1200px;
    height: 30px;
    background-color: black;
    li {
        color: white;
    }
    .custom_care{
        height: inherit;
        margin: 0 0 0 115px;
        float: left;
        font-size: 12px;
        font-family: "Arial";
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        p {
            padding: 7px 0;
            margin: 0;
        }
    }
    .head_btn {
        height: inherit;
        float: right;
        margin: 0 115px 0 0;
        padding: 0;
        p {
            padding: 7px 0;
            margin: 0;
        }
        a {
            text-decoration: none;
            font-size: 12px;
            font-family: "Arial";
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            padding: 0;
            display: block;
            height: inherit;
        }
        .head_btn1 {
            height: 28px;
            width: 70px;
            text-align: center;
            float: left;
            border: solid 1px;
            border-left-color: #909090;
            &:hover {
                background-color: #818181;
                border-left-color: #818181;
                border-right-color: #818181;
             }
            img {
                margin-left: 7px;
            }
        }
        .head_btn2 {
            height: 28px;
            width: 130px;
            text-align: center;
            float: left;
            display: block;
            border: solid 1px;
            border-left-color: #909090;
            border-right-color: #909090;
            &:hover {
                background-color: #818181;
                border-left-color: #818181;
                border-right-color: #818181;
             }
            img {
                float: left;
                margin-left: 15px;
            }
        }
        .head_btn3 {
            height: 28px;
            float: left;
            border: solid 1px;
            border-right-color: #909090;
            &:hover {
                background-color: #818181;
                border-left-color: #818181;
                border-right-color: #818181;
             }
            img {
                padding: 6px 10px;
            }
        }
    }
}

.head_nav {
    width: 1200px;
    height: 100px;
    .logo {
        position: relative;
        top: 35px;
        left: 115px;
        float: left;
    }
    .card_container {
        background-color: #fcfcfc;
        width: 215px;
        height: 65px;
        margin: 17px 115px 17px 0;
        position: relative;
        float: right;
        border: solid 1px;
        border-color: #a5a5a5;
        .top_card {
            padding: 3px 4px 8px;
            a {
                color: @text_color;
                text-decoration: none;
            }
            img{
                float: right;
                padding: 5px;
            }
        }
        .bottom_card {
            padding: 8px 4px 2px;
            span {
                float: right;
                color: @text_color;
            }
        }
    }
    
    .block {
        float: left;
    }
    .navigation_btn {
        float: right;
        height: 50px;
        margin: 25px 150px;
        position: relative;
        z-index: 10;
        .list {
            display: block;
            clear: both;
            padding: 10px;
            &:hover {
                li {
                    display: block;
                    background-color: grey;
                    padding: 0 3px 10px;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
            li {
                display: none;
            }
            .current {
                display: block;
            }
        }
        
    }
    
}
/* ================================= header end ==============*/
main {
    width: 1200px;
}

.banner {
    background-color: #f6f3ec;
    width: inherit;
    height: 440px;
    overflow: hidden;
    .text_banner {
        width: 342px;
        height: 300px;
        position: relative;
        left: 180px;
        top: 70px;
        overflow: hidden;
        float: left;
        p {
            display: block;
            margin: auto;
        }
        .btn_banner {
            background-color: #ffa687;
            margin: auto;
            display: block;
            width: 150px;
            height: 50px;
            font-size: 18px;
            color: white;
        }
    }
    .woman_banner {
        float: right;
        margin-right: 115px;
    }
}

/* =============slider ===============*/
.wrap {
    height: 440px;
    width: 1200px;
    position:relative;
    > input {
        display:none;
    }
    .control {
        position:absolute;
        margin-top: 25px;
        margin-left:-50px;
        left:50%;
        z-index: 2;
    }
    label {
        cursor:pointer;
        display:inline-block;
        height:8px;
        margin:10px;
        position:relative;
        width:8px;
        border-radius:50%;
    }
    label:after {
        border:2px solid #0a0a0a;
        content:" ";
        display:block;
        height:12px;
        left:-4px;
        position:absolute;
        top:-4px;
        width:12px;
        border-radius:50%;
    }
}
.slider {
    background-color:#333333;
    height:inherit;
    overflow:hidden;
    position:relative;
    width:inherit;
}
.slides {
    height:inherit;
    opacity:0;
    position:absolute;
    width:inherit;
    z-index:0;
    transition:1s;
    transform:rotate(55deg);
}
.img2 {
    background-size: 100%;
    background-image:url(../img/main/slide2.jpg);}
.img3 {
    background-size: 100%;
    background-image:url(../img/main/slide3.jpg);}

#point1:checked ~ .control label:nth-of-type(1), 
#point2:checked ~ .control label:nth-of-type(2), 
#point3:checked ~ .control label:nth-of-type(3) {
  background:#000000;
}

#point1:checked ~ .slider > .img1, 
#point2:checked ~ .slider > .img2, 
#point3:checked ~ .slider > .img3 {
  opacity:1;
  z-index:1;
  transform:none;
}

/* ============content========= */
.info_pannel {
    margin-top: 75px;
    width: 1200px;
    height: 55px;
    background-color: #ededed;
    clear: both;
    .left_pannel {
        width: 240px;
        height: inherit;
        float: left;
        overflow: hidden;
        margin-left: 115px;
        padding: 0;
        color: @text_color;
        input {
            width: 100px;
            margin-top: 15px;
        }
        img {
            position: relative;
            top: 7px;
            &:hover {
                transform: scale(1.1)
            }
        }
    }
    
    .right_pannel {
        width: 280px;
        height: inherit;
        float: right;
        margin-right: 115px;
        .social {
            width: 55px;
            height: 55px;
            float: right;
            background-size: 100%;
            a {
                display: block;
                height: inherit;
                width: inherit;
                float: right;
            }
        }
        .pin {
            background-image: url(../img/main/drib.png);
            &:hover {
                    background-color: #bcbcbc;
                }
        }
        .twitter {
            background-image: url(../img/main/twitter.png);
            &:hover {
                    background-color: #bcbcbc;
                }
        }
        .fb {
            background-image: url(../img/main/fb.png);
            &:hover {
                    background-color: #bcbcbc;
                }
        }
        span {
            display: block;
            float: left;
            padding: 16px;
            color: @text_color;
        }
    }
}

.content {
    width: 1200px;
    .pic1 {
        width: 970px;
        margin: 40px auto 50px;
    }
}

.slider2_control {
    width: 970px;
    height: 50px;
    margin: auto;
    overflow: hidden;
    .navigation_btn1 {
        float: left;
        height: inherit;
        a {
            display: block;
            float: left;
            text-decoration: none;
            color: black;
            padding: 0 10px;
            color: @text_color;
            &:hover {
                background-color: #fd926d;
                color: white;
            }
            img {
                padding: 3px 5px;
            }
        }
    }
    .navigation_btn2 {
        float: right;
        height: inherit;
        img {
            float: right;
        }
        a {
            background-color: #ededed;
            display: block;
            height: inherit;
            float: right;
            &:hover {
                background-color: #fd926d;
            }
        }
    }
}
.slider2 {
    width: 1200px;
    height: 460px;
    background-color: #fd926d;
}